@charset "utf-8";

html {
    scroll-behavior: smooth;
}

body {
    margin : 0;
    padding: 0;
}

main {
    margin-top: 100px;
    min-height: 100vh;
    position  : relative;
}

.main_wrap {
    text-align: center;
    width     : 800px;
    max-width : 100%;
    margin    : 0 auto;
}


/* navメニューここから */
header {
    top             : 0;
    position        : fixed;
    width           : 100%;
    background-color: dimgray;
    z-index         : 9000;
}

nav ul {
    list-style     : none;
    display        : flex;
    justify-content: center;
    padding        : 0;
}

nav a {
    text-decoration: none;
    color          : #fff;
    font-weight    : bold;
    margin         : 0 20px;
}

nav a:hover {
    color: yellowgreen
}

.header_menu {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
    box-shadow     : 0px 0px 3px 1px;
}

.header_menu h1 {
    color: #fff;
}

.box {
    margin   : 0 auto 100px;
    max-width: 100%;
}

.LuminousGallery {
    width     : 950px;
    text-align: center;
}

.luminous {
    cursor: zoom-in;
}


.aco_list {
    width        : 90%;
    border       : 4px solid brown;
    border-radius: 10px;
    margin       : 0 auto 20px;
    max-width    : 100%;
}

.aco_list ul {
    margin : 0;
    padding: 0;
}

.aco_list_q {
    display    : block;
    background : brown;
    color      : whitesmoke;
    font-weight: bold;
    cursor     : pointer;
    padding    : 10px 30px;
    line-height: 1.4;
}

.aco_list_a {
    display   : none;
    margin    : 0 30px;
    padding   : 10px 0;
    list-style: none;
}


.inner {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
    z-index        : 0;
    padding-bottom : 100px;
}

.inner p {
    color      : #fff;
    font-size  : 10vw;
    text-align : center;
    margin     : 0 auto;
    position   : relative;
    z-index    : 1;
    opacity    : .6;
    text-shadow: 3px 3px 3px #000;
    padding    : 50px;
}

.wrap {
    width              : 33%;
    height             : auto;
    max-width          : 100%;
    display            : block;
    margin             : 0;
    background-size    : cover;
    background-position: 50%;
    position           : relative;
}

.wrap::after {
    content : '';
    position: absolute;
    left    : 0;
    right   : 0;
    top     : 0;
    bottom  : 0;
}

.wrap_1 {
    background-image: url(http://placeimg.com/250/250/tech);
}

.wrap_2 {
    background-image: url(http://placeimg.com/250/250/nature);
}

.wrap_3 {
    background-image: url(http://placeimg.com/250/250/tech/grayscale);
}

.wrap_4 {
    background-image: url(http://placeimg.com/450/450/tech/grayscale);
}

.wrap_5 {
    background-image: url(http://placeimg.com/450/450/tech);
}

.wrap_6 {
    background-image: url(http://placeimg.com/450/450/nature);
}

.wrap_1::after {
    background-color: rgba(100, 10, 300, .5);
}

.wrap_2::after {
    background-color: rgba(300, 10, 100, .5);
}

.wrap_3::after {
    background-color: rgba(100, 30, 0, .5);
}

.wrap_4::after {
    background-color: rgba(10, 30, 10, .5);
}

.wrap_5::after {
    background-color: rgba(200, 150, 50, .5);
}

.wrap_6::after {
    background-color: rgba(0, 200, 200, .5);
}

/* TOPへ戻るbtn */
.top_btn::before {
    content    : '\f106';
    font-family: "Font Awesome 5 Free";
    position   : absolute;
    top        : 12px;
    left       : 0;
    width      : 100%;
    text-align : center;
    font-size  : 2rem;
}

.top_btn {
    position       : fixed;
    bottom         : 0px;
    right          : 10px;
    color          : #fff;
    text-decoration: none;
    font-weight    : bold;
    width          : 60px;
    height         : 60px;
    text-align     : center;
    border-radius  : 30px;
    box-sizing     : border-box;
    margin-bottom  : 10px;
    border         : 1px solid dimgray;
    box-shadow     : 2px 2px 2px #000;
    background     : rgba(10, 100, 100, .3);
    cursor         : pointer;
    z-index        : 100;
}

.top_btn:hover {
    background: rgb(10, 100, 100);
}


footer {
    text-align: center;
    position  : absolute;
    width     : 100%;
    background: lightgray;
}

@media (max-width:690px) {

    main {
        margin-top: 50px;
    }

    /*開閉ボタン*/
    nav {
        display   : none;
        position  : absolute;
        top       : 0;
        width     : 100%;
        padding   : 70px 0;
        background: rgba(100, 100, 100, .8);
    }

    nav ul {
        display    : block;
        text-align : center;
        line-height: 2.5;
    }

    nav a {
        font-weight   : normal;
        font-size     : 2rem;
        letter-spacing: 1px;
    }

    #nav_toggle {
        display : block;
        width   : 35px;
        height  : 35px;
        position: absolute;
        z-index : 100;
        right   : 10px;
        margin  : 14px 0 0 0;
        cursor  : pointer;
    }

    #nav_toggle div {
        position: relative;
    }

    #nav_toggle span {
        display      : block;
        border-radius: 10px;
        height       : 2px;
        background   : #fff;
        position     : absolute;
        width        : 100%;
        left         : 0;
        transition   : 0.3s ease-in-out;
    }

    #nav_toggle span:nth-child(1) {
        top: 0px;
    }

    #nav_toggle span:nth-child(2) {
        top: 10px;
    }

    #nav_toggle span:nth-child(3) {
        top: 20px;
    }

    /*開閉ボタンopen時*/
    .open #nav_toggle span:nth-child(1) {
        top              : 10px;
        -webkit-transform: rotate(135deg);
        transform        : rotate(135deg);
    }

    .open #nav_toggle span:nth-child(2) {
        width: 0;
        left : 50%;
    }

    .open #nav_toggle span:nth-child(3) {
        top              : 10px;
        -webkit-transform: rotate(-135deg);
        transform        : rotate(-135deg);
    }


    .header_menu {
        position  : fixed;
        top       : 0;
        margin    : 0 auto;
        width     : 100%;
        background: rgba(100, 100, 100, .8);
    }

    .header_menu h1 {
        z-index    : 1000;
        font-size  : 1.1rem;
        font-weight: normal;
    }

}
